@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
    color: #0c0c0c;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 700;
    color: #e41f9d;
    transition: all 1s ease;
}

strong:hover {
    text-decoration: underline;
    color: #a11bec;
    transition: all 1s ease;
}